#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#library-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#delete-button-container, #read-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.delete-button, .read-button {
  font-size: 25px;
}

#book-table {
  border: 1px solid black;
  background-color: lightgrey;
}

.book-header {
  border: 1px solid black;
  font-size: 25px;
}

.book-data {
  border: 1px solid black;
  font-size: 25px;
}

#new-book {
  margin-top: 20px;
  font-size: 25px;
}

#add-book-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.book-field {
  display: block;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-checkbox {
  display: block;
}

#add-book, #cancel-add {
  font-size: 20px;
}
